# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

#xcode
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/


# android/.project
# android/.settings/
# plugin/barcode_scan-3.0.1/android/.classpath
# plugin/barcode_scan-3.0.1/android/.project
# plugin/barcode_scan-3.0.1/android/.settings/
# plugin/barcode_scan-3.0.1/example/android/.project
# plugin/barcode_scan-3.0.1/example/android/.settings/
# plugin/barcode_scan-3.0.1/example/android/app/.classpath
# plugin/barcode_scan-3.0.1/example/android/app/.project
# plugin/barcode_scan-3.0.1/example/android/app/.settings/
# plugin/core_log/android/.classpath
# plugin/core_log/android/.project
# plugin/core_log/android/.settings/
# plugin/core_log/example/android/.project
# plugin/core_log/example/android/.settings/
